[Desktop Entry]
Categories=Application;Utility;Calendar;
Comment=Calendar is a date tool.
Exec=gxde-calendar
GenericName=Calendar
Icon=gxde-calendar
Name=GXDE Calendar
StartupNotify=false
Terminal=false
Type=Application
X-GXDE-Vendor=deepin
X-MultipleArgs=false

# Translations:
# Do not manually modify!
Comment[am_ET]=ቀን መቁጠሪያ
Comment[ar]=التقويم هو أداة عرض التاريخ .
Comment[ast]=Calendariu ye una ferramienta de dates.
Comment[az]=Kalendar tarix alətidir
Comment[bg]=Календарът е приложение за показване на датата.
Comment[bn]=ক্যালেন্ডার একটি তারিখ টুল
Comment[ca]=El calendari és una eina de cites.
Comment[cs]=Kalendář je nástroj pro práci s daty.
Comment[da]=Kalender er et datoværktøj.
Comment[de]=Kalender ist ein Datumswerkzeug.
Comment[el]=Εφαρμογή Ημερολογίου 
Comment[en_GB]=Calendar is a date tool
Comment[eo]=Kalendaro estas datilo.
Comment[es]=Calendario es una herramienta de gestión de fechas.
Comment[es_419]=Calendario es un almanaque.
Comment[et]=Kalender on kuupäeva tööriist.
Comment[fa]=تقویم یک ابزار تاریخ است.
Comment[fi]=Kalenteri on päivämäärätyökalu. 
Comment[fr]=Simple calendrier.
Comment[gl_ES]=O calendario é unha ferramenta de datas.
Comment[hi_IN]=दिनदर्शिका दिनांक हेतु एक साधन है।
Comment[hr]=Kalendar je alat za rad sa vremenom.
Comment[hu]=Naptár alkalmazás
Comment[id]=Kalender adalah sebuah peralatan penanggalan.
Comment[it]=Calendar è un tool calendario.  Localizzazione italiana a cura di Carofano Massimo Antonio.
Comment[ja]=カレンダーは日時ツールです。
Comment[kn_IN]=ಕ್ಯಾಲೆಂಡರ್ ಒಂದು ದಿನದರ್ಶಕವಾಗಿದೆ.
Comment[ko]=Calendar는 일정 관리도구입니다.
Comment[ku]=Salname navgîneke tarîxê ye.
Comment[ku_IQ]=ساڵنامە ئامرازێکی بەروارە
Comment[lt]=Kalendorius yra datų įrankis.
Comment[lv]=Kalendārs ir datumu rīks.
Comment[ml]=കലണ്ടർ ഒരു തീയതി ഉപകരണം ആണ് 
Comment[mn]=Хуанли нь огноо, цагалбарын хэрэгсэл.
Comment[ms]=Kalendar merupakan alat tarikh.
Comment[nb]=Kalander er et redskap for å organisere hendelser etter dato og klokkeslett.
Comment[ne]=क्यालेन्डर एक मिति उपकरण हो।
Comment[nl]=Kalender is een hulpmiddel voor het bijhouden van afspraken.
Comment[pa]=ਕੈਲੰਡਰ ਤਾਰੀਖ ਸਾਧਨ ਹੈ।
Comment[pl]=Kalendarz to narzędzie zarządzania czasem.
Comment[pt]=O Calendário é uma ferramenta de agendamento.
Comment[pt_BR]=Calendário é uma ferramenta de data.
Comment[ro]=Calendarul este un instrument pentru date
Comment[ru]=Календарь является приложением для планирования Вашего времени.
Comment[sk]=Kalendár je dátumový nástroj.
Comment[sl]=Koledar je orodje za urejanje datumov.
Comment[sr]=Календар је алат за приказивање датума.
Comment[sv]=Kalender är ett datumverktyg.
Comment[sw]=Kalenda ni chombo ya tarehe
Comment[ta]=அட்டவணை தேதி கருவியாகும்
Comment[tr]=Takvim, tarihi görüntüleyen bir araçtır.
Comment[ug]=كالىندار ئۇ ۋاقىت قۇرالى
Comment[uk]=Календар
Comment[vi]=Lịch là một công cụ ngày tháng.
Comment[zh_CN]=日历是一款查看日期的小工具。
Comment[zh_TW]=簡易日期顯示工具
GenericName[am_ET]=ቀን መቁጠሪያ
GenericName[ar]=التقويم
GenericName[ast]=Calendariu
GenericName[az]=Kalendar
GenericName[bg]=Календар
GenericName[bn]=ক্যালেন্ডার
GenericName[ca]=Calendari
GenericName[cs]=Kalendář
GenericName[da]=Kalender
GenericName[de]=Kalender
GenericName[el]=Ημερολόγιο
GenericName[eo]=Kalendaro
GenericName[es]=Calendario
GenericName[es_419]=Calendario
GenericName[et]=Kalender
GenericName[fi]=Kalenteri
GenericName[fr]=Calendrier
GenericName[gl_ES]=Calendario
GenericName[hi_IN]=कलेंडर
GenericName[hr]=Kalendar
GenericName[hu]=Naptár
GenericName[id]=Kalender
GenericName[it]=Calendar
GenericName[ja]=カレンダー
GenericName[ko]=달력
GenericName[ku]=Salname
GenericName[ku_IQ]=Salname
GenericName[lt]=Kalendorius
GenericName[lv]=Kalendārs
GenericName[ml]=കലണ്ടർ
GenericName[mn]=Хуанли
GenericName[ms]=Kalendar
GenericName[nb]=Kalender
GenericName[ne]=क्यालेन्डर
GenericName[nl]=Kalender
GenericName[pa]=ਕੈਲੰਡਰ
GenericName[pl]=Kalendarz
GenericName[pt]=Calendário
GenericName[pt_BR]=Calendário
GenericName[ro]=Calendar
GenericName[ru]=Календарь
GenericName[sk]=Kalendár
GenericName[sl]=Koledar
GenericName[sr]=Календар
GenericName[sv]=Kalender
GenericName[sw]=Kalenda
GenericName[tr]=Takvim
GenericName[uk]=Календар
GenericName[vi]=Lịch
GenericName[zh_CN]=日历
GenericName[zh_TW]=日曆
Name[am_ET]=ዲፕኢን ቀን መቁጠሪያ
Name[ar]=تقويم ديبين
Name[ast]=GXDE Calendar
Name[az]=GXDE Kalendarı
Name[bg]=GXDE Календар
Name[bn]=ডিপিন ক্যালেন্ডার
Name[ca]=Calendari del GXDE
Name[cs]=Kalendář
Name[da]=GXDE kalender
Name[de]=GXDE Kalender
Name[el]=Ημερολόγιο GXDE
Name[en_GB]=GXDE Calendar
Name[eo]=GXDE kalendaro
Name[es]=Calendario GXDE
Name[es_419]=Calendario GXDE
Name[et]=GXDE Kalender
Name[fa]=تقویم GXDE
Name[fi]=GXDE kalenteri
Name[fr]=GXDE Calendrier
Name[gl_ES]=Calendario do GXDE
Name[hi_IN]=डीपिन दिनदर्शिका
Name[hr]=GXDE kalendar
Name[hu]=GXDE Naptár
Name[id]=Kalender GXDE
Name[it]=GXDE Calendar
Name[ja]=GXDE カレンダー
Name[kn_IN]=ಡೀಪಿನ್ ಕ್ಯಾಲೆಂಡರ್
Name[ko]=GXDE Calendar
Name[ku]=Salnameya GXDE
Name[ku_IQ]=ساڵنامەی GXDE
Name[lt]=GXDE kalendorius
Name[lv]=GXDE kalendārs
Name[ml]=ഡീപിൻ കലണ്ടർ
Name[mn]=Деепин Хуанли
Name[ms]=Kalendar GXDE
Name[nb]=GXDE Kalender
Name[ne]=डिपिन क्यालेन्डर
Name[nl]=GXDE Kalender
Name[pa]=ਡੀਪਿਨ ਕੈਲੰਡਰ
Name[pl]=Kalendarz GXDE
Name[pt]=GXDE Calendar
Name[pt_BR]=Calendário
Name[ro]=Calendarul GXDE
Name[ru]=Календарь GXDE
Name[sk]=GXDE Kalendár
Name[sl]=Koledar GXDE
Name[sr]=Дипин Календар
Name[sv]=GXDE kalender
Name[sw]=Kalenda ya GXDE
Name[ta]=டீபின் நாள்காட்டி
Name[tr]=GXDE Takvim
Name[ug]=GXDE كالىندارى
Name[uk]=Календар GXDE
Name[vi]=Lịch GXDE
Name[zh_CN]=GXDE 日历
Name[zh_TW]=GXDE 日曆

